
.hero-primary {
  margin-top: 230px;

  & h1 {
    color: var(--white);
  }
}

.hero {
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: relative;

  @media screen and (max-width: 900px) {
    background-size: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 1;
    padding-bottom: 118px;
  }

  .hero-banner {
    z-index: 3;
    position: absolute;
    background: var(--green);
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 118px;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 0 20px;

    @media screen and (max-width: 900px) {
      height: 150px;

      h2 {
        font-size: 1.4rem;
      }

      h3 { 
        font-size: 1.2rem;
      }
    }
  }
}

.hero-secondary { 
  .row {
    min-height: 518px;
    gap: 0;

    @media screen and (max-width: 900px) {
      min-height: auto;
    }
  }

  .col {
    margin: 0 !important;
  }

  .hero-col-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media screen and (max-width: 900px) {
      min-height: 300px;
      background-size: cover;
    }
  }

  .hero-col-content {
    background: var(--green);
    color: #fff;
    padding: 88px;

    h2 {
      margin-bottom: 40px;
    }

    .button-wrapper {
      margin-top: 60px;

      .button {
        &:hover {
          opacity: 0.8;
          background: var(--white);
          color: var(--black);
        }
      }
    }

    @media screen and (max-width: 900px) {
      padding: 60px;
    }
  }
}

.leaves {
  max-width: 118px;
  width: 100%;
}