

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 3.35rem;
  font-weight: bold;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0 0 15px 0;

  @media screen and (max-width: 900px) {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}


h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

ul {
  display: block;
  
  
  li {
    margin-left: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

img {
  width: 100%;
}

.footnote {
  padding-left: 30px;
  font-size: 0.8rem;
}

a {
  background: none;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.fs1 {
  font-size: 1rem;
}